<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="All tests">
	<listeners>
		<listener class-name="com.esco.core.Listeners" />
	</listeners>
	
	<test name="preserve-order All tests" preserve-order="true">
	    <groups>
	        <define name="other_tests">
      			<include name="UsersAndAudit_Test"/>
    		</define>

    		<define name="energy_audit">
      			<include name="UsersAndAudit_Test"/>
      			<include name="AuditorDelete_Test"/>
      			<include name="ObjectAdd_Test"/>
      			<include name="ObjectDelete_Test"/>
    		</define>
				
			<define name="all_tests">
      			<include name="other_tests"/>
      			<include name="energy_audit"/>
    		</define>
    			    
        	<run>
            	<include name="all_tests" />
        	</run>
    	</groups>
    	<classes>
       		<class name="com.esco.tests.administration.UsersAndAudit_Test" />
			<class name="com.esco.tests.energy_audit.AuditorAdd_Test" />
    		<class name="com.esco.tests.energy_audit.AuditorDelete_Test" />
    		<class name="com.esco.tests.energy_audit.ObjectAdd_Test" />
    		<class name="com.esco.tests.energy_audit.ObjectDelete_Test" />
    	</classes>
	</test>
</suite>

<!--
<suite name="For testing">
	<listeners>
		<listener class-name="com.esco.core.Listeners" />
	</listeners>
	
	<test name="preserve-order Other tests" preserve-order="true">
	    <groups>
        	<run>
      			<include name="ObjectAdd_Test"/>
        	</run>
    	</groups>
    	<classes>
    		<class name="com.esco.tests.energy_audit.ObjectAdd_Test" />
    	</classes>
	</test>
</suite>
-->